:root {
  --color-blue: #1049f8;
}

.inner {
  width: 1400px;
  margin: auto;
  height: 100%;
}

/* ################### header ###################  */
.header {
  width: 100%;
  height: 90px;
  background-color: #f9fbfe;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
}
.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-inner h1 {
  text-indent: -9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 100px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* #####
############## section: login ###################  */

.log-content {
  width: 40%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.log-txt {
  text-align: center;
  margin-top: 80px;
}
.log-txt h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: var(--color-blue);
}
.log-txt p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 50px;
}
.log-sns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.log-sns a {
  width: 450px;
  height: 60px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.log-sns a span::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  top: calc(50% - 16px);
  left: 30px;
}
.log-sns a:nth-of-type(1) span:before {
  background-image: url(../img/kakao.svg);
}
.log-sns a:nth-of-type(2) span:before {
  background-image: url(../img/naver.svg);
  background-size: 70%;
}
.log-sns a:nth-of-type(3) span:before {
  background-image: url(../img/google.svg);
}

.log-content > span {
  margin-top: 50px;
  font-size: 14px;
  border-bottom: 1px solid #222;
}
.log-sns a:nth-of-type(1) {
  background-color: #fee500;
}
.log-sns a:nth-of-type(2) {
  background-color: #03c75a;
  color: #fff;
}
.log-sns a:nth-of-type(3) {
  background-color: #fff;
}
.log-sns a:last-of-type {
  background-color: #333232;
  color: #fff;
}
/* form */
legend {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
fieldset {
  width: 35%;
  margin: auto;
}
input[type="text"],
input[type="email"] {
  outline-style: none;
  width: 65%;
  height: 30px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding-left: 10px;
}

/* tel */

label[for="name"],
label[for="birth"],
label[for="email"] {
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  margin-bottom: 35px;
  font-size: 0;
  word-spacing: 0;
  letter-spacing: 0;
}
.list > span {
  width: 30%;
  display: inline-block;
  font-size: 16px;
}
/* address */
.address-wrap {
  display: flex;
}
label.address {
  width: 70%;
}
label.address input {
  margin-bottom: 10px;
}
label.address input[type="button"] {
  border: none;
  height: 35px;
  margin-left: 5px;
  padding: 0 10px;
  border-radius: 10px;
}

/* route*/
.route {
  margin-top: 35px;
}
.radio-list {
  margin-bottom: 50px;
  display: flex;
}

.radio-list .radio-item {
  position: relative;
  display: inline-block;
  width: 30%;
  margin-bottom: 10px;
}
.radio-list-wrap {
  width: 70%;
}

.radio-label {
  font-size: 14px;
  position: relative;
  padding-left: 22px;
}
.radio-label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 0;
  background-color: #eee;
  border: 2px solid #96aab7;
  border-radius: 20px;
  transform: translateY(-55%);
}

.form-input:checked ~ .radio-label::before {
  background-color: #0277b4;
  border: 2px solid #fff;
}
/* terms */
.terms-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.terms-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #eee;
  position: relative;
}
.terms-item:first-of-type {
  margin-bottom: 10px;
}
.checkbox-label {
  margin-left: 8px;
}
.checkbox-label::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #eee;
  border: 2px solid #96aab7;
  border-radius: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-55%);
}
.terms-list .more {
  font-size: 14px;
  margin-right: 15px;
}
.terms-list .more::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #000;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.form-input:checked ~ .checkbox-label::before {
  background-color: #0277b4;
  border: 2px solid #fff;
}
